openapi: 3.0.3
info:
  title: Catalog API
  version: 0.1.0
  description: API backend de catálogo (Items) con PostgreSQL, migraciones y respuestas estandarizadas.
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.xxxxx.com
    description: Production (placeholder)

security: []

tags:
  - name: Items
    description: Operaciones del catálogo
  - name: Health
    description: Checks de estado

paths:
  /health:
    get:
      tags: [Health]
      operationId: getHealth
      summary: Health check
      description: Verifica que el proceso HTTP está operativo.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "500":
          $ref: "#/components/responses/InternalError"
  /ready:
    get:
      tags: [Health]
      operationId: getReady
      summary: Readiness check
      description: Verifica que la app está lista (por ejemplo dependencias disponibles).
      responses:
        "200":
          description: Ready
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReadyResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /items:
    post:
      tags: [Items]
      operationId: createItem
      summary: Create item
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateItemRequest"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ItemResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/InternalError"

    get:
      tags: [Items]
      operationId: listItems
      summary: List items
      parameters:
        - in: query
          name: page
          description: Número de página (1-based)
          schema:
            type: integer
            minimum: 1
            default: 1
        - in: query
          name: limit
          description: Cantidad por página
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
        - in: query
          name: query
          description: Texto de búsqueda
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ItemsListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "500":
          $ref: "#/components/responses/InternalError"

  /items/{id}:
    get:
      tags: [Items]
      operationId: getItemById
      summary: Get item by ID
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ItemResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

    patch:
      tags: [Items]
      operationId: patchItem
      summary: Partially update item
      description: |
        Actualiza uno o más campos.
        - Si un campo NO viene, no se toca.
        - description permite null para setear NULL en DB.
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatchItemRequest"
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ItemResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/InternalError"

    delete:
      tags: [Items]
      operationId: deleteItem
      summary: Delete item
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: No Content
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

components:
  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Conflict:
      description: Conflict
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    InternalError:
      description: Internal error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    ServiceUnavailable:
      description: Service unavailable
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

  schemas:
    Meta:
      type: object
      properties:
        request_id:
          type: string
          description: Identificador de request para trazabilidad
        time_utc:
          type: string
          format: date-time
      required: [time_utc]

    ErrorObject:
      type: object
      properties:
        code:
          type: string
          example: invalid_input
        message:
          type: string
          example: invalid input
      required: [code, message]

    ErrorResponse:
      type: object
      properties:
        error:
          $ref: "#/components/schemas/ErrorObject"
        meta:
          $ref: "#/components/schemas/Meta"
      required: [error, meta]

    HealthResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            status:
              type: string
              example: ok
          required: [status]
        meta:
          $ref: "#/components/schemas/Meta"
      required: [data, meta]

    ReadyResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            status:
              type: string
              example: ready
          required: [status]
        meta:
          $ref: "#/components/schemas/Meta"
      required: [data, meta]

    Item:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
          nullable: true
        price:
          type: string
          description:  "1000.00" 
          example: "1000.00"
        stock:
          type: integer
          minimum: 0
      required: [id, name, price, stock]

    ItemResponse:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/Item"
        meta:
          $ref: "#/components/schemas/Meta"
      required: [data, meta]

    ItemsListMeta:
      allOf:
        - $ref: "#/components/schemas/Meta"
        - type: object
          properties:
            page:
              type: integer
              example: 1
            limit:
              type: integer
              example: 10
            total:
              type: integer
              example: 0
          required: [page, limit, total]

    ItemsListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Item"
        meta:
          $ref: "#/components/schemas/ItemsListMeta"
      required: [data, meta]

    CreateItemRequest:
      type: object
      additionalProperties: false
      properties:
        name:
          type: string
          minLength: 1
        description:
          type: string
          nullable: true
        price:
          type: string
          example: "1000.00"
        stock:
          type: integer
          minimum: 0
      required: [name, price, stock]

    PatchItemRequest:
      type: object
      additionalProperties: false
      minProperties: 1
      properties:
        name:
          type: string
        description:
          type: string
          nullable: true
        price:
          type: string
          example: "1200.00"
        stock:
          type: integer
          minimum: 0
